<!DOCTYPE html>
<html lang="en">
  <head>
    <title>INF319</title>
    <!---->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/2.4.0/sigma.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/graphology/0.25.4/graphology.umd.min.js"></script> -->
    <!-- <script src="https://d3js.org/d3.v7.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/graphology-layout-forceatlas2@0.10.1/webworker.min.js"></script> -->
  </head>
  <body>
    <label for="sim-start-input">Simulation Start: </label>
    <input type="text" name="sim-start-input" id="sim-start-input" value="2024082712">
    <br>
    <label for="time-offset-input">Time Offset: </label>
    <input type="number" name="time-offset-input" id="time-offset-input" value="0">
    <br>
    <button onclick="createGraph()">Create Graph</button>

    <h1 id="header">Network for 2024082712 0h</h1>

    <div id="graph" style="width:1280px; height: 720px;"></div>

    <script src="static/js/index.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            window.initGraph();
        });
    </script>
  </body>
</html>
